.list-users{
    //background-color: lightblue;
    display: flex;
    padding: 0.5em 3em;
    border-bottom: 1px grey solid;


    &__data{
        width: 23%;;
    }
    &__edit{
        width: 3em;
        cursor: pointer;
    }
    &__delete{
        width: 3em;
        cursor: pointer;

        &__img{
            width: 1.5em;
            height: 1.5em;
        }
    }
    
    
}